.navbar {
    background-color: rgb(2, 117, 133);
}

.mybg {
    background-color: rgb(2, 117, 133);
}

.imgsize{
    width: 30%;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.imgsizee{
    width: 25%;
}