.navbar {
    background-color: rgb(2, 117, 133);
}

.mybg {
    background-color: rgb(2, 117, 133);
}

.imgsize{
    width: 30%;
}

.container2{
    padding-top: 10px;
}
.card {
    align-items: center;
    justify-content: space-between;

}

.card-body{
    background-color: black
}

.card-text{
    color: aliceblue;
}
